.messageForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #888;
    height: 70px;
    width: 100%;
    padding-left: 20px;
    position: relative;

    .formInput {
        height: 30px;
        width: 300px;
        margin-right: 50px;
        border: 1px solid #888;
        border-radius: 5px; 
        padding: 7.5px;
        outline: none;
    }

    .formInput:hover {
        border: 1px solid #4b80e3;
    }

    .formInput:focus {
        border: 1px solid #4b80e3;
        box-shadow: 0px 0px 0px 2.5px rgba(79, 186, 228, 0.5);
    }
}

.messageForm>p {
    position: absolute;
    top: 50px;
    right: 240px;
    font-size: 0.8rem;
}