.ChannelsList {
    width: 400px;
    min-width: 200px;
    height: 260px;
    margin-top: 10vh;
    background-color: #171429;
    border-radius: 20px;
    margin-right: 100px;
    padding: 20px;

    .channel {
        display: flex;
        flex-direction: row;
    }
}

.ChannelsList p {
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
    height: 15%;
    color: white;
}

.ChannelsList a {
    color: white;
    display: block;
    width: fit-content;
    padding: 7.5px 10px;
    border-radius: 15px;
    margin: 3px 0;
    position: relative;
    right: 5px;
}

.ChannelsList a:focus {
    background-color: white;
    color: black;
}
