.ChannelsList {
    width: 140px;
    height: 80vh;
    background-color: #171429;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    position: relative;
    border-right: 1px solid #555;
    margin-top: 10vh;


}

.ChannelsList p {
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
    height: 40px;
    color: white;
}

@media (min-width: 0px) and (max-width: 610px) { 
    .ChannelsList {
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
}

@media (min-width: 0px) and (max-width: 510px) { 
    .ChannelsList {
        padding: 20px 0 20px 10px;
        width: 100px;
    }

    .ChannelsList p {
        width: fit-content;
    }
}

@media (min-width: 0px) and (max-width: 405px) { 
    .ChannelsList {
        padding-right: 5px;
    }
}



