@import "styles/Home.module.scss";

.message {
    display: flex;
    flex-direction: row;
    overflow-wrap: anywhere;
}

.messageSent {
    display: flex;
    flex-direction: row-reverse;
    overflow-wrap: anywhere;
}

.message img {
    width: 32px;
    height: 32px;
    margin-top: 6px;
    border-radius: 20px;
}

.messageReceived p {
    background-color: #302c42;
    color: #ccc;
    margin: 7.5px 5px;
    width: fit-content;
    max-width: 280px;
    padding: 4px 15px;
    border-radius: 20px;
}

.messageSent p {
    margin: 7.5px 5px;
    width: fit-content;
    max-width: 280px;
    padding: 4px 15px;
    border-radius: 20px;
    background-color: $primary;

}