.header {
    padding: 0 15px;
    border-bottom: 1px solid #555;
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 0.45fr 3.6fr 1fr;
}

.header > p {
    color: white;
}