@import "styles/Home.module.scss";

.chat {
    padding: 20px;
    width: 100%;
    overflow-y: scroll
}

.chat::-webkit-scrollbar {
    width: 5px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
}
