.channel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .chatPanel {
        margin-top: 10vh;
        margin-right: 27.5vw;
        display: grid;
        grid-template-rows: 0.7fr 9fr 1fr;
        height: 80vh;
        width: 500px;
        background-color: #171429;
        border-radius: 20px;
    }
}
