.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-rows: 0.7fr 9fr 1fr;
        height: 80vh;
        width: 500px;
        background-color: #171429;
        border-radius: 20px;

        .chat {
            padding: 20px;
            overflow-y: scroll
        }

        .chat::-webkit-scrollbar {
            width: 5px;
        }

        .chat::-webkit-scrollbar-thumb {
            background-color: #2a56a7;
            border-radius: 20px;
        }

    }
}

.home h1 {
    margin-top: 15px;
    color: white;
}
