@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background:
        radial-gradient(circle at 0 120%, 
        rgba(127,113,86,1) 0%, rgba(255,0,0,0) 45%),
        radial-gradient(circle at 120% 0%, 
        rgba(47,78,111,1) 0%, rgba(0,0,255,0) 70%),
        radial-gradient(circle at 100% 100%, 
        rgba(27,30,54,1) 0%, rgba(0,255,0,0) 70%),
        radial-gradient(circle at 0 0, 
        rgba(52,52,75,1) 0%, rgba(0,255,0,0) 60%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
