.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .header {
        border-bottom: 1px solid #888;
        width: 100%;
        height: 8%;
        position: relative;
        top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 60px;
    }

}

.home h2 {
    margin-top: 15px;
}
