$primary: #fff;
$secondary: #171429;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .wrapper {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 78vh;
        width: 800px;
        background-color: #171429;
        border-radius: 20px;
    }

    .signIn {
        @extend .wrapper;
        justify-content: center;
    }

    .header {
        border-bottom: 1px solid #888;
        width: 100%;
        height: 8%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }

}

.home h1 {
    margin-top: 25px;
    color: white;
}
